.users_container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}
.user_card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 10px;
  background-color: lightskyblue;
  padding: 6px;
  border-radius: 12px;
}
.user_img {
  width: 100%;
  height: auto;
  object-fit: cover;
}
.fav_btn {
  border: none;
  border-radius: 12px;
  padding: 8px;
  margin: 10px;
  cursor: pointer;
}
.fav_btn:hover {
  background-color: lightgreen;
}
